@import '@/styles/mixins.scss';

.page {
  padding: 10vh;
  display: flex;
  gap: 5%;
  justify-content: center;
}

.formData {
  min-width: 40%;
  display: flex;
  gap: 5vh;
  flex-direction: column;
  align-items: center;
}
