@import '@/styles/mixins.scss';

.page {
  padding: 15vh;
  display: flex;
  gap: 5%;
  justify-content: center;
}

.formData {
  min-width: 40%;
}

.link {
  padding: 10px 15px;
  color: inherit;
  font-size: 18px;
  border-radius: 15px;
  transition: 0.2s;
  background-color: silver;

  @include hover {
    background-color: lightgray;
  }
}
